body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}


.game-container {
  display: inline-block;
  border: 4px solid #726c80;
  background-color: #011f2b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.row {
  display: flex;
}

.score {
  font-size: 28px;
}

.button-group {
  display: inline-flex;
  gap: 10px;
}

.game-over {
  padding: 3rem;
  margin: 1rem;
  border: 4px solid #726c80;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}